
h1 {
    text-align: left;
    margin-top: 50px;
   
}
p {
    text-align: left;
    margin-top: 20px;
   
}
img.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    }

#titulotabla1   { 
    text-align: left;
    padding-left: 20px; 

}
table{
    background: url("Messi8.jpg") top center;
    margin-top: 5px;
    border-collapse: collapse;
    height:500px;
}




.card-header {
    font-size: 15px;
    text-align: center;
    color: rgb(247, 97, 92);
    font-weight: bold;
    

}

.card-text {

    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}

h2 {
     color: whitesmoke;
     padding: 50px;
     text-align: center;
 }

 hr{ display: flex;
    flex-wrap: wrap;
     background-color: rgb(247, 97, 92);
     width: 100px;
     height: 3px;
     margin-top: -30px;
 }

.circular-progress {
    width: 12rem;
    height: 12rem;
    border-radius:50% ;
    margin: auto;
    /*hacer un degradado*/
    background: linear-gradient(
        0deg,
        #fff,
        rgba(#fff,.2) 50%
    );
    position: relative;
    before {
        content:"LEFT FOOTED GOALS";
        width: 12rem;
        height: 12rem; 
        position: absolute;
        top:0;
        Left:0;
        background: #111 content-box; 
        border-radius:50%;
        padding:.5em;
        box-sizing: border-box;
        font-size:2rem;
        color: #fff;
        text-align: center;
        line-height: 8rem;
    }
    &:after {
       content: "86%";
       width: 12rem;
       height: 12rem; 
       position: absolute;
       top:0;
       Left:0;
    }
}