
h1 {
    text-align: auto;
    margin-top: 50px;
   
}
.media {
    margin-left: 25px;

}

#textoinicio   {

    margin-left: 5px;
}

p {
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
   
}

.textoderecha {
    text-align: right ;
    padding-right: -50px;
    padding-left: 15px;
    margin-right: 50px;
    margin-left: auto;
    max-width: 1200px;
    padding-top: 25px;
}
.rectangulo {
   width: 100%;
   height: 600px;
   background-color:rgb(216, 61, 66, 0.781) ;
   margin-right: auto;
   margin-left: auto;
}


img.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
}

#Messi {
    width: 550px;
    height: auto;
    display: block;
    margin: auto;
}

.card {
    height: 15rem;
    width: 15rem;
    
}

.card-header {
    font-size: 14px;
    text-align: center;
    color: rgb(247, 97, 92);
    font-weight: bold;

}

.card-text {

    font-size: 40px;
    text-align: center;

}

h2 {
     color: whitesmoke;
     padding: 50px;
     text-align: center;
 }

hr {  display: flex;
    flex-wrap: wrap;
     background-color: rgb(247, 97, 92);
     width: 100px;
     height: 3px;
     margin-top: -40px;
 }

 .card-body {

    align-content: center;
    align-items: center;

}

#Fondostats {

    background:rgb(216, 66, 61) ;
    height: 30rem;
    width: 100%;
    
}

.flecha-down {
    margin:0 auto;
    width:0px;
    height:0px;
    border-left:25px solid transparent; /* izquierda flecha */
    border-right:25px solid transparent; /* derecha flecha */
    border-top:25px solid rgb(216, 66, 61); /* base flecha y color*/
    font-size:0px;
}
